* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* pointer-events: none; */
  /* overflow: hidden; */
}

html, body {
  height: 100%;
  /* cursor: pointer; */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* overflow: hidden; */
 
  /* overflow: hidden; */

}
#wp{
  cursor: pointer;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d7adfb);
  background-size:  400% 400%;
  animation: gradient 4s ease infinite;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  
}

.wrap {
  /* position: relative; */
  height: 100%;
  min-height: 500px;
  padding-bottom: 20px;
  position: relative;
 
}

.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%;
  padding: .5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

@-webkit-keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: rgb(17, 17, 17);
  }
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: rgb(17, 17, 17);
  }
}
.card {
  float: left;
  width: 10%;
  height: 18.8%;
  padding: .4%;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 800px) {
  .card {
    width: 10%;
    height: 18.8%;
  }
}
.card .inside {
  width: 100%;
  height: 100%;
  padding: 2%;
  /* margin: 10%; */
  display: block;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  background: rgb(17, 17, 17);
  border-radius: 3px;
}
.card .inside.picked, .card .inside.matched {
  transform: rotateY(180deg);
}
.card .inside.matched {
  -webkit-animation: 1s matchAnim ease-in-out;
          animation: 1s matchAnim ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.card .front, .card .back {
  /* border: 1px solid black; */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;

  
}
.card .front img, .card .back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  
  border-radius: 3px;
  /* margin: 2%; */
}
.card .front {
  transform: rotateY(-180deg);
  padding: 5%;
}
@media (max-width: 800px) {
  .card .front {
    padding: 5%;
  }
}
.card .back {
  transform: rotateX(0);
  padding: 5%;
  border-radius: 3px;
}
.back img{
  width: 100%;
  border: 2px solid transparent;
  border-radius: 3px;
  height: 100%;
}
.card .front{
  
}
.front img{
  width: 100%;
  border: 2px solid transparent;
  border-radius: 3px;
  height: 100%;
  /* padding: 0%; */
  /* padding: 2px 2px; */
}
.card .back img:hover{
  border: 2px solid transparent;
  border-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5abfb);
  border-image-slice: 1; 
  border-radius: 3px;
  

}
@media (max-width: 800px) {
  .card .back {
    padding: 5%;
  }
}

.modal-overlay {
  display: none;
  background: rgb(17,17,17);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: relative;
  width: 500px;
  height: 400px;
  max-height: 100%;
  max-width: 100%;
  /* min-height: 380px; */
  margin: 0% auto;
  background: white;
  top: 0%;
  /* margin-top: 0; */
  /* transform: translateY(-50%); */
  padding: 30px 10px;
}
.modal .winner {
  font-size: 5rem;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-shadow: 0px 3px 0 black;
}
@media (max-width: 480px) {
  .modal .winner {
    font-size: 60px;
  }
}
.modal .restart, .modal .home {
  display: inline-block;
  color: white;
  border: white solid 1px;
  font-family: "Anton", sans-serif;
  background: transparent;
  font-size: 2.2vw;
  letter-spacing: .2rem;
  padding:20px 40px;
  outline: none;
  width: fit-content;
  margin: 2%;
  /* margin: 0 auto; */
  margin-top: 4vw;
  color: white;
  
  cursor: pointer;
}
.modal .restart:hover, .restart:focus, .home:focus, .home:hover {
  border: solid 1px transparent;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5abfb);
  background-size:  400% 400%;
  animation: gradient 4s ease infinite;
}
.modal .message {
  text-align: center;
}
.modal .message a {
  text-decoration: none;
  color: #28afe6;
  font-weight: bold;
}
.modal .message a:hover {
  color: #56c0eb;
  border-bottom: 1px dotted #56c0eb;
}
.modal .share-text {
  text-align: center;
  margin: 10px auto;
}
.modal .social {
  margin: 20px auto;
  text-align: center;
}


footer {
  height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
  background-color: rgb(17, 17, 17);
  cursor: default;
  /* margin: 0; */
}
footer .disclaimer {
  line-height: 20px;
  font-size: 12px;
  color: #727272;
  text-align: center;
}
@media (max-width: 767px) {
  footer .disclaimer {
    font-size: 8px;
  }
  footer{
    position: fixed;
    bottom: 0;
  }
  
}

.first-page{
  height: 100%;
  width: 100%;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.first-page{
  display: flex;
  justify-content: center;
  text-align: center;
}
.first-page-wrapper{
  display: flex;
  font-family: "Anton", sans-serif;
  flex-direction: column;
  justify-content: center;
}

.first-page-wrapper h1{
  font-size: 10rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5abfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 background-size:  400% 400%;
  animation: gradient 8s ease infinite;
}
.button-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  
}
button.n1:hover, button.n1:focus{
  border: 1px solid transparent;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5abfb); */
  background-image: linear-gradient( -45deg,  rgba(216,27,96,1) 33.1%, rgba(237,107,154,1) 74.9% );
  background-size:  400% 400%;
  animation: gradient 4s ease infinite;
}

button.n2:hover, button.n2:focus{
  border: 1px solid transparent;
  background-image: linear-gradient( 108.7deg,  rgba(245,175,25,1) 21.6%, rgba(204,33,40,1) 92.2% );
  background-size:  400% 400%;
  animation: gradient 4s ease infinite;
}

button.n3:hover, button.n3:focus{
  border: 1px solid transparent;
  background-image: linear-gradient( 109.6deg,  #56CCF2 11.2%, #2F80ED 91.1% );
  background-size:  400% 400%;
  animation: gradient 4s ease infinite;
}
